In [1]:
people = {
    "first" : ["Corey", "Jane", "John", 'Adam'],
    "last" : ["Schafer", "Doe", "Doe", 'Doe'],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com", 'A@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [5]:
# sorting in ascending order
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [6]:
# sorting in descending order
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [7]:
# sort multiple columns (when duplicate values exist)
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [10]:
# multiple columns but some in ascending and some in descending order
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [11]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
# The indexes kept their original row
# so to go back to the original, we sort by index
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [13]:
# sort single column (series)
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object