In [1]:
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
# Filtering mask
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [8]:
# To aplly it we define it as a variable (parenthesis are not necessary)
filt = (df['last'] == 'Doe')

In [9]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
# you can also use .loc and it allows yoy to also choose specific column
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
 df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [12]:
filt = (df['last'] == 'Smith') & (df['first'] == 'John')

In [14]:
 df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [15]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [16]:
 df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [17]:
#  Opposite of filter
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object